# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directory
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables and secrets
.env

# Ignore unnecessary system files
*.DS_Store

# Ignore compiled Python files
*.pyc

# Ignore temporary files
*.swp
*.bak
*.tmp
